* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
  font-size: 16px;
}
:root {
  --main-color: #f55353;
}
body {
  height: 100vh;
  background-image: url("images/headphones_hero_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}
p {
  line-height: 1.5;
}
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 6rem;
}
.hero-section {
  width: 100%;
  padding: 2rem 0;
}
.hero-section header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#menu-toggle {
  display: none;
}
.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}
.icon-close {
  position: absolute;
  font-size: 2rem;
  color: #fff;
  left: 0;
  display: none;
}
.hero-section header img {
  width: 161px;
  height: auto;
}
.hero-section header nav {
  width: 28%;
}
header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  transition: all 0.2s linear;
}
nav ul li a:hover {
  color: var(--main-color);
}

.hero-section .intro-content {
  width: 100%;
  text-align: center;
  margin: 25% auto;
  color: #fff;
}
.intro-content h1 {
  font-size: 2rem;
  font-weight: 700;
}

.intro-content h1 + p {
  font-size: 1rem;
}

.intro-content a {
  display: inline-block;
  padding: 0.7rem 1.8rem;
  background-color: var(--main-color);
  margin: 2.4rem 0 3.4rem 0;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 22px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s linear;
}
.intro-content a:hover {
  opacity: 0.9;
}
.intro-content a + p {
  line-height: 1.5;
  font-weight: 300;
  font-size: 1rem;
  margin: 0 0 1rem 0;
}
@media (min-width: 481px) and (max-width: 960px) {
  body {
    background-position: top;
    background-size: 130%;
    overflow-x: visible;
  }
  .hero-section header nav {
    width: 35%;
  }
  .items-container {
    flex-wrap: wrap;
  }
  .item {
    flex: 1 0 170px;
  }
  .our-results-section {
    background-image: none;
  }
  .results-container {
    flex-wrap: wrap;
    gap: 4rem;
  }
  .result img {
    width: 45%;
  }
  .result {
    flex: 1 0 240px;
  }
  .our-results-section::before {
    height: 100%;
    min-width: 100vw;
    position: absolute;
    content: "";
    left: -3%;
    top: 0;
    background-image: url("images/headphones_hero_2.jpg");
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 0 1rem;
  }
  body {
    overflow-x: visible;
  }
  header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .hero-section header nav {
    width: 100%;
    height: 150px;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .menu-icon {
    display: block;
    position: absolute;
    left: 0;
  }
  .menu-icon::before {
    content: "\2630";
    transition: all 0.4s ease;
  }
  #menu-toggle:checked ~ nav {
    visibility: visible;
    transform: scale(1);
  }
  #menu-toggle:checked ~ .menu-icon::before {
    content: "\2716";
  }
  .items-container {
    flex-direction: column;
  }
  .item {
    padding: 0 3rem;
  }
  .results-container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .result {
    width: 100%;
    align-items: center;
  }
  .result img {
    width: 150px;
  }
}
main {
  justify-items: center;
}
.what-we-do-section {
  width: 100%;
  text-align: center;
  padding: 4rem 0;
  line-height: 1.5;
  font-weight: 300;
  font-size: 1rem;
}
.what-we-do-section h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.items-container {
  display: flex;
  gap: 4rem;
  margin-top: 4.5rem;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.item i {
  font-size: 3rem;
  display: inline-block;
}

/* OUR RSEULTS SECTION*/
.our-results-section {
  text-align: center;
  background-image: url("images/headphones_hero_2.jpg");
  padding: 6rem 0 2rem 0;
  background-position: center;
  background-repeat: no-repeat;
  width: 125.5%;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  background-size: cover;
  position: relative;
}
.our-results-section h3 {
  font-size: 2rem;
}
.our-results-section p {
  padding: 0 4rem;
  margin: 3rem 0 0 0;
}
.results-container {
  display: flex;
  padding: 3rem 1rem;
  margin-top: 3rem;
}
.result {
  width: calc((100% - 1rem) 4);
  color: #fff;
  position: relative;
}
.result span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  font-weight: 600;
}
.result span:nth-child(3) {
  top: 75%;
  font-size: 0.7rem;
}
